{
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"printWidth": 120,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": true
}
